<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keqi.hcttopgenerate.mapper.DictItemMapper">
    <resultMap id="BaseResultMap" type="com.keqi.hcttopgenerate.entity.DictItem">
        <!--@mbg.generated-->
        <!--@Table sys_dict_item-->
        <id column="id" property="id"/>
        <result column="type_code" property="typeCode"/>
        <result column="type_name" property="typeName"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="order_num" property="orderNum"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, type_code, type_name, item_code, item_name, order_num
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_dict_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeCode != null and typeCode != ''">
                type_code,
            </if>
            <if test="typeName != null and typeName != ''">
                type_name,
            </if>
            <if test="itemCode != null and itemCode != ''">
                item_code,
            </if>
            <if test="itemName != null and itemName != ''">
                item_name,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeCode != null and typeCode != ''">
                #{typeCode},
            </if>
            <if test="typeName != null and typeName != ''">
                #{typeName},
            </if>
            <if test="itemCode != null and itemCode != ''">
                #{itemCode},
            </if>
            <if test="itemName != null and itemName != ''">
                #{itemName},
            </if>
            <if test="orderNum != null">
                #{orderNum},
            </if>
        </trim>
    </insert>

    <insert id="insertList">
        insert into sys_dict_item(
        <trim suffixOverrides=",">
            type_code, type_name, item_code, item_name, order_num, 
        </trim>
        ) values
        <foreach collection="list" item="element" index="index" separator=",">
            (
            <trim suffixOverrides=",">
                 #{element.typeCode},  #{element.typeName},  #{element.itemCode},  #{element.itemName},  #{element.orderNum}, 
            </trim>
            )
        </foreach>
    </insert>

    <delete id="removeById">
        delete
        from sys_dict_item
        where id = #{id}
    </delete>

    <update id="update">
        update sys_dict_item
        <set>
            <if test="typeCode != null and typeCode != ''">
                type_code = #{typeCode},
            </if>
            <if test="typeName != null and typeName != ''">
                type_name = #{typeName},
            </if>
            <if test="itemCode != null and itemCode != ''">
                item_code = #{itemCode},
            </if>
            <if test="itemName != null and itemName != ''">
                item_name = #{itemName},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item
        where id = #{id}
    </select>

    <select id="findList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item where
        <trim prefixOverrides="and">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="typeCode != null and typeCode != ''">
                and type_code = #{typeCode}
            </if>
            <if test="typeName != null and typeName != ''">
                and type_name = #{typeName}
            </if>
            <if test="itemCode != null and itemCode != ''">
                and item_code = #{itemCode}
            </if>
            <if test="itemName != null and itemName != ''">
                and item_name = #{itemName}
            </if>
            <if test="orderNum != null">
                and order_num = #{orderNum}
            </if>
        </trim>
    </select>

    <select id="pageQueryCount" resultMap="BaseResultMap">
        select count(*)
        from sys_dict_item
    </select>

    <select id="pageQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item
    </select>
</mapper>