<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keqi.seed.sys.mapper.AccountMapper">
    <resultMap id="BaseResultMap" type="com.keqi.seed.sys.domain.db.AccountDO">
        <!--@mbg.generated-->
        <!--@Table sys_account-->
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="nick_name" property="nickName"/>
        <result column="post" property="post"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, account, nick_name, post, `password`, salt, create_time, update_time
    </sql>

    <select id="selectByAccount" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_account
        where account = #{account}
    </select>

    <update id="updatePasswordById">
        update sys_account
        set `password`=#{password},
            update_time=now()
        where id = #{id}
    </update>

    <resultMap id="AccountVO" type="com.keqi.seed.sys.domain.vo.AccountVO">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="nick_name" property="nickName"/>
    </resultMap>
    <select id="page" resultMap="AccountVO">
        select
        <include refid="Base_Column_List"/>
        from sys_account
        order by update_time desc
    </select>

    <resultMap id="MenuVO" type="com.keqi.seed.sys.domain.vo.MenuVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
        <result column="type" property="type"/>
        <result column="permiss" property="permiss"/>
        <result column="order_num" property="orderNum"/>
        <result column="parent_id" property="parentId"/>
    </resultMap>
    <select id="selectMenuVOListByAccountId" resultMap="MenuVO">
        select distinct t3.id,
                        t3.name,
                        t3.url,
                        t3.icon,
                        t3.type,
                        t3.permiss,
                        t3.order_num,
                        t3.parent_id
        from sys_account_role as t1
                     left join sys_role_menu as t2 on t1.role_id = t2.role_id
                     left join sys_menu as t3 on t2.menu_id = t3.id
        where t1.account_id = #{accountId}
        order by t3.parent_id,
                 t3.order_num
    </select>

    <resultMap id="RoleVO" type="com.keqi.seed.sys.domain.vo.RoleVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <select id="selectRoleVOListByAccountId" resultMap="RoleVO">
        select t2.id, t2.name
        from sys_account_role as t1
                     left join sys_role as t2 on t1.role_id = t2.id
        where t1.account_id = #{accountId}
    </select>
</mapper>