<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keqi.seed.sys.mapper.OperLogMapper">
    <resultMap id="BaseResultMap" type="com.keqi.seed.sys.domain.db.OperLogDO">
        <!--@mbg.generated-->
        <!--@Table sys_oper_log-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="method" property="method"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="ip" property="ip"/>
        <result column="content_type" property="contentType"/>
        <result column="param" property="param"/>
        <result column="result" property="result"/>
        <result column="success" property="success"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, `method`, `type`, url, ip, content_type, param, `result`, success, create_by, create_time
    </sql>
</mapper>