<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keqi.knife4j.sys.mapper.ParamConfigMapper">
    <resultMap id="BaseResultMap" type="com.keqi.knife4j.sys.domain.db.ParamConfigDO">
        <!--@mbg.generated-->
        <!--@Table sys_param_config-->
        <id column="id" property="id"/>
        <result column="param_name" property="paramName"/>
        <result column="param_key" property="paramKey"/>
        <result column="param_value" property="paramValue"/>
        <result column="param_type" property="paramType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, param_name, param_key, param_value, param_type, create_time, update_time
    </sql>

    <resultMap id="ParamConfigVO" type="com.keqi.knife4j.sys.domain.vo.ParamConfigVO">
        <id column="id" property="id"/>
        <result column="param_name" property="paramName"/>
        <result column="param_key" property="paramKey"/>
        <result column="param_value" property="paramValue"/>
        <result column="param_type" property="paramType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="page" resultMap="ParamConfigVO">
        select
        <include refid="Base_Column_List"/>
        from sys_param_config
        order by update_time desc
    </select>
</mapper>