<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keqi.apihu.sys.mapper.DictItemMapper">
    <resultMap id="BaseResultMap" type="com.keqi.apihu.sys.domain.db.DictItemDO">
        <!--@mbg.generated-->
        <!--@Table sys_dict_item-->
        <id column="id" property="id"/>
        <result column="type_code" property="typeCode"/>
        <result column="type_name" property="typeName"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="item_sort" property="itemSort"/>
        <result column="item_remark" property="itemRemark"/>
        <result column="item_css" property="itemCss"/>
        <result column="is_deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="DictItemVO" type="com.keqi.apihu.sys.domain.vo.DictItemVO">
        <id column="id" property="id"/>
        <result column="type_code" property="typeCode"/>
        <result column="type_name" property="typeName"/>
        <result column="item_code" property="itemCode"/>
        <result column="item_name" property="itemName"/>
        <result column="item_sort" property="itemSort"/>
        <result column="item_remark" property="itemRemark"/>
        <result column="item_css" property="itemCss"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, type_code, type_name, item_code, item_name, item_sort, item_remark, item_css,
        is_deleted,create_time,update_time
    </sql>

    <select id="listAllTypeCode" resultType="java.lang.String">
        select distinct type_code
        from sys_dict_item
        where is_deleted = 0
    </select>

    <select id="listAllByTypeCode" resultMap="DictItemVO">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item
        where type_code = #{typeCode}
        and is_deleted = 0
        order by item_sort
    </select>

    <select id="page" resultMap="DictItemVO">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item where is_deleted = 0
        <if test="pageParam.typeCode != null and pageParam.typeCode != ''">
            and type_code like concat('%', replace(replace(#{pageParam.typeCode}, '%', '/%'), '_', '/_'), '%') escape
            '/'
        </if>
        <if test="pageParam.typeName != null and pageParam.typeName != ''">
            and type_name like concat('%', replace(replace(#{pageParam.typeName}, '%', '/%'), '_', '/_'), '%') escape
            '/'
        </if>
        <if test="pageParam.itemCode != null and pageParam.itemCode != ''">
            and item_code like concat('%', replace(replace(#{pageParam.itemCode}, '%', '/%'), '_', '/_'), '%') escape
            '/'
        </if>
        <if test="pageParam.itemName != null and pageParam.itemName != ''">
            and item_name like concat('%', replace(replace(#{pageParam.itemName}, '%', '/%'), '_', '/_'), '%') escape
            '/'
        </if>
    </select>

    <!--auto generated by MybatisCodeHelper on 2020-12-02-->
    <update id="disableById">
        update sys_dict_item
        set is_deleted=1
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-12-03-->
    <select id="listAll" resultMap="DictItemVO">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_item
        where is_deleted = 0
    </select>
</mapper>