<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keqi.springbootmybatiscollection.mapper.DepartmentMapper">
    <resultMap id="BaseResultMap" type="com.keqi.springbootmybatiscollection.domain.Department">
        <!--@mbg.generated-->
        <!--@Table department-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="school_id" property="schoolId"/>
    </resultMap>


    <resultMap id="DepartmentVO" type="com.keqi.springbootmybatiscollection.domain.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="school_id" property="schoolId"/>
        <association property="school" javaType="com.keqi.springbootmybatiscollection.domain.School"
                     columnPrefix="school_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, school_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from department
        where id = #{id}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from department
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.keqi.springbootmybatiscollection.domain.Department" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into department (`name`, school_id)
        values (#{name}, #{schoolId})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.keqi.springbootmybatiscollection.domain.Department" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">
                #{name},
            </if>
            <if test="schoolId != null">
                #{schoolId},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.keqi.springbootmybatiscollection.domain.Department">
        <!--@mbg.generated-->
        update department
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.keqi.springbootmybatiscollection.domain.Department">
        <!--@mbg.generated-->
        update department
        set `name`    = #{name},
            school_id = #{schoolId}
        where id = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-11-23-->
    <select id="findOneById" resultMap="DepartmentVO">
        select department.id,
               department.`name`,
               department.school_id,
               school.id     as school_id,
               school.`name` as school_name
        from department
                     left join school on department.school_id = school.id
        where department.id = 1
    </select>
</mapper>