<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qjzh.idomp.zjc.sc.mapper.DevLocationMapper" >
  <resultMap id="BaseResultMap" type="com.qjzh.idomp.zjc.sc.domain.DevLocationKey" >
    <id column="DEV_ID" property="devId" jdbcType="BIGINT" />
    <id column="PRODUCT_IDENTIFIER" property="productIdentifier" jdbcType="VARCHAR" />
    <id column="ORG_ID" property="orgId" jdbcType="BIGINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.qjzh.idomp.zjc.sc.domain.DevLocationKey" >
    delete from T_DEV_LOCATION
    where DEV_ID = #{devId,jdbcType=BIGINT}
      and PRODUCT_IDENTIFIER = #{productIdentifier,jdbcType=VARCHAR}
      and ORG_ID = #{orgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qjzh.idomp.zjc.sc.domain.DevLocationKey" >
    insert into T_DEV_LOCATION (DEV_ID, PRODUCT_IDENTIFIER, ORG_ID
      )
    values (#{devId,jdbcType=BIGINT}, #{productIdentifier,jdbcType=VARCHAR}, #{orgId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qjzh.idomp.zjc.sc.domain.DevLocationKey" >
    insert into T_DEV_LOCATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="devId != null" >
        DEV_ID,
      </if>
      <if test="productIdentifier != null" >
        PRODUCT_IDENTIFIER,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="devId != null" >
        #{devId,jdbcType=BIGINT},
      </if>
      <if test="productIdentifier != null" >
        #{productIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>